<div class="the-core-of-earth">
  <div class="divider">
    <div class="left">
      <%= link_to "Wishlist", root_path, class: "footer-wishlist" %><span class="copyright">&#169;</span>
    </div>
    <div class="middle">
      <i class="fab fa-twitter footer-icon fa-2x"></i>
      <i class="fab fa-instagram footer-icon fa-2x"></i>
      <i class="fab fa-facebook footer-icon fa-2x"></i>
    </div>
  </div>
</div>