<div class="the-core-of-earth">
  <div class="divider">
    <div class="left">
      <p class="footer-wishlist">Wishlist<span class="copyright">&#169;</span></p>
    </div>
    <div class="middle">
      <i class="fa fa-twitter footer-icon fa-2x"></i>
      <i class="fa fa-instagram footer-icon fa-2x"></i>
      <i class="fa fa-facebook footer-icon fa-2x"></i>
    </div>
  </div>
</div>