<div class="home-page-content">
  <div class="main-page-content">
  <h1><span class="header-font">Welcome to Wishlist</span></h1>
    <div>
      <h2>Where your wishes come true</h2>
    </div>
    <% if user_signed_in? == false %>
      <div>
        <%= link_to "Make a wishlist", new_user_registration_path, class: "btn btn-succes btn-yellow button" %>
      </div>
    <% elsif user_signed_in? == true %>
      <div>
        <%= link_to "Make a wishlist", new_wishlist_path, class: "btn btn-succes btn-yellow button" %>
      </div>
    <% end %>
  </div>

  <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("slide_1.jpg", class: "slides") %>
      </div>
  </div>
  </div>
  <%= image_tag("slide_1.jpg", class:"banner-image") %>
</div>