<div class="home-page-content">
  <div class="main-page-content">
  <h1><span class="header-font">Welcome to Wishlist</span></h1>
    <div>
      <h2>Where your wishes come true</h2>
    </div>
    <div class="button">
      <button class="btn btn-succes btn-yellow">Make a wishlist</button>
    </div>
  </div>
  <%= image_tag("slide_1.jpg", class:"banner-image") %>
</div>