<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("slide_1.jpg", class: "slides") %>
    
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>Buy</h1>
          <p>Browse products from hundreds of sellers<p> 
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
    <%= image_tag("slide_2.jpg", class: "slides") %>
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>Sell</h1>
          <p>List your item quickly and easily</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("slide_3.png", class: "slides") %>
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>Wish</h1>
          <p>Tell us what you need and we'll show you matches</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Create your wishlist</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>