<div class="home-page-content">
  <div class="main-page-content">
    <div>
      <h1><span class="header-font">Welcome to Wishlist</span></h1>
    </div>
    <div>
      <h2>Where your wishes come true</h2>
    </div>
<<<<<<< HEAD
    <% if user_signed_in? == false %>
      <div>
        <%= link_to "Make a wishlist", new_user_registration_path, class: "btn btn-succes btn-yellow" %>
      </div>
    <% elsif user_signed_in? == true %>
      <div>
        <%= link_to "Make a wishlist", new_wishlist_path, class: "btn btn-succes btn-yellow" %>
      </div>
    <% end %>
=======
    <div class="button">
      <button class="btn btn-succes btn-yellow">Make a wishlist</button>
    </div>
>>>>>>> b9f10568bc590aaea04f8e7c67a637314c985247
  </div>

  <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("slide_1.jpg", class: "slides") %>
      </div>
  </div>
  </div>
</div>