<div class="site-section site-section-sm site-blocks-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
              <h2><i class="fa fa-shopping-cart"></i><h2>
            </div>
            <div class="text">
              <h2 class="text-uppercase">BUY</h2>
              <p>Select from a wide range of products and contact the seller directly.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start">
              <h2><i class="fa fa-credit-card"></i><h2>
            </div>
            <div class="text">
              <h2 class="text-uppercase">SELL</h2>
              <p>Sell to hundreds of buyers - no bidding, no hassles</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start">
              <h2><i class="fa fa-star-o"></i><h2>
            </div>
            <div class="text">
              <h2 class="text-uppercase">WISH</h2>
              <p>Can't see what you want? Add it to your wishlist and we'll find a match!</p>
            </div>
          </div>
        </div>
      </div>
    </div>