<div class="site-section site-section-sm site-blocks-1">
  <%# <div class="container"> %>
    <div class="row separator">
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4 aos-init aos-animate tags" data-aos="fade-up" data-aos-delay="">
        <div class="duo">
          <div class="icon align-self-center">
            <h2><i class="fa fa-shopping-bag fa-2x"></i><h1>
          </div>
          <div class="text">
            <h2 class="text-uppercase">BUY</h2>
          </div>
        </div>
        <h6 class="separator-text">Select from a wide range of products and contact the seller directly.</h6>
      </div>
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4 aos-init aos-animate tags" data-aos="fade-up" data-aos-delay="100">
        <div class="duo">
          <div class="icon align-self-center">
            <h2><i class="fa fa-credit-card fa-2x"></i><h2>
          </div>
          <div class="text">
            <h2 class="text-uppercase">SELL</h2>
          </div>
        </div>
        <h6 class="separator-text">Sell to hundreds of buyers <br> No bidding, no hassles</h6>
      </div>
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4 aos-init aos-animate tags" data-aos="fade-up" data-aos-delay="200">
        <div class="duo">
          <div class="icon align-self-center">
            <h2><i class="fa fa-star-o fa-2x"></i><h2>
          </div>
          <div class="text">
            <h2 class="text-uppercase">WISH</h2>
          </div>
        </div>
        <h6 class="separator-text">Can't see what you want? <br> Make a wishlist and we'll find a match!</h6>
      </div>
    </div>
  <%# </div> %>
</div>