<div class="site-section site-section-sm site-blocks-1">
  <%# <div class="container"> %>
    <div class="row separator">
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4 aos-init aos-animate tags" data-aos="fade-up" data-aos-delay="">
        <div class="duo">
          <div class="icon align-self-center">
            <h2 class="font-awesome-icon"><i class="fa fa-shopping-bag"></i><h2>
          </div>
        </div>
        <div class="text">
          <p class="text-uppercase">BUY</p>
        </div>
        <p class="separator-text">Select from a wide range of products and contact the seller directly.</p>
      </div>
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4 aos-init aos-animate tags" data-aos="fade-up" data-aos-delay="100">
        <div class="duo">
          <div class="icon align-self-center">
            <h2 class="font-awesome-icon"><i class="fas fa-piggy-bank"></i><h2>
          </div>
        </div>
        <div class="text">
          <p class="text-uppercase">SELL</p>
        </div>
        <p class="separator-text">Sell to hundreds of buyers <br> No bidding, no hassles</p>
      </div>
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4 aos-init aos-animate tags" data-aos="fade-up" data-aos-delay="200">
        <div class="duo">
          <div class="icon align-self-center">
            <h2 class="font-awesome-icon heart"><i class="fa fa-heart"></i><h2>
          </div>
        </div>
        <div class="text">
          <p class="text-uppercase">WISH</p>
        </div>
        <p class="separator-text">Can't see what you want? <br> Make a wishlist and we'll find a match!</p>
      </div>
    </div>
  <%# </div> %>
</div>