<div class="home-page-content">
  <div class="main-page-content">
    <h1>Welcome to Wishlist</h1>
  </div>

  <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("slide_1.jpg", class: "slides") %>
      </div>
  </div>
  </div>
</div>