.banner {
  height: 220px;
  display: flex;
  align-items: center;
  background-color: #f5f5f5 !important;
}

.banner-ad {
  height: 190px;
  width: 100%;
  background-image: asset_url('Adidas_Banner.gif');
  background-size: cover;
  background-position: center;
  border: 20px solid white;
}

.banner-ad2 {
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: asset_url('kayo.gif');
  // background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // border: 20px solid white;
  margin-top: 50px;
  background-color: #f5f5f5 !important;
}

.product-not-found {
  height: 275px;
  display: flex;
  background-color:rgb(231, 231, 231);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.product-not-found-title {
  font-size: 30px;
  font-weight: 700;
}

.product-not-found-text {
  font-size: 13px;
}

.mini-wishlist {
  color: #d60547 !important;
  font-family: 'Sofia', cursive;
  font-size: 20px;
}

.home-page-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px;
  height: 600px;
  margin: 0px !important;
  background-color: #f5f5f5 !important;
}

.home-page-content h1 {
  font-size: 5rem;
}

.home-page-content h2 {
  font-family: 'Roboto', sans-serif;
}

.main-page-content {
  width: 500px;
  height: 500px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.banner-image {
  // max-height: calc(100vh - 80px) !important;
  filter: grayscale(40%);
  -webkit-filter: grayscale(40%);
  border: 1px solid black !important;
}

.header-font {
  font-family: 'Sofia', cursive;
  font-size: 80px;
}

.button {
  margin: 30px 0px 0px 0px;
}


@media only screen and (max-width: 600px) {
  .banner-image {
    visibility:hidden;
  }
}

