.banner {
  height: 220px;
  display: flex;
  align-items: center;
  background-color: #f5f5f5 !important;
}

.banner-ad {
  height: 190px;
  width: 100%;
  background-image: asset_url('Adidas_Banner.gif');
  background-size: cover;
  background-position: center;
  border: 20px solid white;
}

.banner-ad2 {
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: asset_url('kayo.gif');
  // background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 20px solid white;
}