.the-core-of-earth {
  height: 75px;
  background-color: #d60547;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.footer-wishlist {
  color: white;
  font-family: 'Sofia', cursive;
  margin-left: 10px;
  font-size: 30px;
  margin-bottom: 0px;
}

a.footer-wishlist {
  color: white;
  font-family: 'Sofia', cursive;
  margin-left: 10px;
  font-size: 30px;
  margin-bottom: 0px;
  text-decoration: none;
}

.footer-icon {
  color: white;
  margin: 0px 8px;
}

.middle {
  display: flex;
  align-items: center;
}

.copyright {
  font-size: 20px;
  color: white;
}

