.home-page-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px;
  height: 600px;
  margin: 0px !important;
  background-color: rgb(249, 249, 249) !important;
}

#myCarousel {
  height: 500px;
}

.main-page-content {
  width: 300px;
  height: 500px !important;
  display: flex;
  align-items: center;
}
.carousel-inner{
  width: 600px;
  // max-height: calc(100vh - 80px) !important;
  max-height: 500px !important;
}

.carousel-item {
  width: 600px;
  // max-height: calc(100vh - 80px) !important;
  max-height: 500px !important;
}

.carousel-item img {
  width: 600px;
  // max-height: calc(100vh - 80px) !important;
  max-height: 500px !important;
}

.slides {
  height: 500px !important;
}

.carousel-caption {
  color: white;
  font-size: 1.7rem;
}

a.btn.btn-lg.btn-primary {
  background-color: white;
  border-color: white;
  color: #222222;
}

a.btn.btn-lg.btn-primary:active {
  background-color: #222222;
  border-color: white;
  color: white;
}

a.btn.btn-lg.btn-primary:hover {
  background-color: #222222;
  border-color: white;
  color: white;
}



