.thumbnail {
  height: 200px;
}

.card2 {
  height: 350px;
  padding: 0px !important;
  margin-top: 30px !important;
}

.row {
  justify-content: space-around;
}

.btn-yellow {
  background-color: #FBCA4D !important;
  border: 1px solid black !important;
}

.index-products {
  margin: 0px !important;
  background-color: #f5f5f5 !important;
  padding-bottom: 50px;
}

.card-body {
  height: 190px !important;
}