.thumbnail {
  height: 200px;
}

.card2 {
  // width: 18rem; 
  height: 350px;
  // margin-left: 80px;
  padding: 0px !important;
  margin-top: 30px !important;
}

.row {
  justify-content: space-around;
}

.index-products {
  margin: 0px 10px !important;
}