.carousel-inner{
  width:100%;
  max-height: calc(100vh - 80px) !important;
}

.carousel-item {
  width:100%;
  max-height: calc(100vh - 80px) !important;
}

.carousel-item img {
  width:100%;
  max-height: calc(100vh - 80px) !important;
}

.carousel-caption {
  color: white;
  font-size: 1.7rem;
}

a.btn.btn-lg.btn-primary {
  background-color: white;
  border-color: white;
  color: #222222;
}

a.btn.btn-lg.btn-primary:active {
  background-color: #222222;
  border-color: white;
  color: white;
}

a.btn.btn-lg.btn-primary:hover {
  background-color: #222222;
  border-color: white;
  color: white;
}


