.home-page-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px;
  height: 600px;
  margin: 0px !important;
  background-color: #f5f5f5 !important;
}

.home-page-content h1 {
  font-size: 5rem;
}

.main-page-content {
  width: 500px;
  height: 500px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.carousel-inner{
  width: 600px;
  // max-height: calc(100vh - 80px) !important;
  // max-height: 500px !important;
}

.carousel-item img {
  width: 100%;
  // max-height: calc(100vh - 80px) !important;
}

a.btn.btn-lg.btn-primary {
  background-color: white;
  border-color: white;
  color: #222222;
}

a.btn.btn-lg.btn-primary:active {
  background-color: #222222;
  border-color: white;
  color: white;
}

a.btn.btn-lg.btn-primary:hover {
  background-color: #222222;
  border-color: white;
  color: white;
}



