.new-product-form {
  display: flex;
  justify-content: center;
}

.new-product-form-container {
  width: 700px;
  display: flex;
  justify-content: center;
  background: #f5f5f5;
  padding-top: 15px;
  margin-bottom: 70px;
}

.form-group-new {
  width: 600px;
}

#product_images {
  width: 250px;
}

.new-product-title {
  margin-top: 15px;
  font-size: 27px;
  color: #d60547;
}

.chosen-select {
  width: 100%;
}

.chosen-container {
  width: 600px !important;
}

.chosen-choices {
  padding: 0.375rem 0.75rem !important;
  border-radius: 0.25rem !important;
  border: 1px solid #ced4da !important;
}

.form-group-categories {
  display: flex !important;
  flex-direction: column;
  margin-top: 15px;
}

.form-group-images {
  display: flex !important;
  flex-direction: column;
  margin-top: 15px;
}

.btn-new-product {
  margin-top: 15px;
  margin-bottom: 30px;
}

.new-description {
  margin-top: 15px;
}

.new-price {
  margin-top: 10px;
}