.site-section {
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: rgb(232, 234, 236) !important;
  background-color: white;
}

.banner-ad {
  margin-top: 10px;
  height: 190px;
  width: 100%;
  background-image: asset_url('Adidas_Banner.gif');
  background-size: cover;
  background-position: center;
  border: 20px solid white;
}

.banner-ad2 {
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: asset_url('kayo.gif');
  // background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 20px solid white;
}

.tags {
  // background-color: white;
  // color: black;
  background-color: #08C3A3;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 35px;
}

.separator {
  height: 100%;
}

.separator-text {
  text-align: center;
  margin-bottom: 0px;
}

.icon {
  margin: 0px !important;
}

.text-uppercase {
  text-align: center;
}

.duo {
  text-align: center;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #08C3A3;
}