.site-section {
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: rgb(232, 234, 236) !important;
  background-color: white;
}

.tags {
  background-color: white;
  color: black;
  // background-color: #08C3A3;
  // color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 35px;
}

.separator {
  height: 100%;
}

.separator-text {
  text-align: center;
  margin-bottom: 0px;
  font-size: 13px;
  margin-top: 20px;
}

.icon {
  margin: 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 74px !important;
}

.font-awesome-icon {
  margin-bottom: 0px;
}
.text-uppercase {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
}

.heart {
  margin-top: 10px;
}

.duo {
  text-align: center;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #08C3A3;
}