.btn-outline-success {
  color: #08C3A3 !important;
  border-color: #08C3A3;
  margin: 10px;
}

.btn-outline-success:hover {
  color: white !important;
  border-color: #08C3A3;
  background-color: #08C3A3;
}

.navbar {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em !important;
  background-color: rgb(232, 234, 236) !important;
}

a.nav-link {
  color: #222222;
  margin: 30px; 
}

a#navbarDropdown.nav-link.dropdown-toggle {
  color: #222222;
}

a#navbarDropdown.nav-link.dropdown-toggle:active {
  color: #08C3A3; 
}

.nav-link:hover {
  color: #08C3A3 !important;
}

.nav-link:active {
  color: #08C3A3 !important;
}

.navbar {
  height: 80px;
}

.btn-success {
  border-color: #08C3A3;
  background-color: #08C3A3;
  color: white !important;
}

.btn-success:hover {
  border-color: #d71845;
  background-color: #d71845;
  color: white !important;
}
