.btn-outline-success {
  color: #08C3A3 !important;
  border-color: #08C3A3;
  margin: 10px;
}

.btn-outline-success:hover {
  color: white !important;
  border-color: #08C3A3;
  background-color: #08C3A3;
}

.nav-link {
  color: 222222;
  font-size: 1.2em !important;
  margin: 30px;
}

.nav-link:hover {
  color: #08C3A3 !important;
}