.products-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-show {
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
  width: 80%;
  padding: 50px;
  height: 600px;
  margin-top: 30px;
}

.product-show-details {
  background-color: #f5f5f5 !important;
  flex-direction: row;
  padding: 50px;
  width: 55%;
  height: 417px;
}

.btn.btn-danger {
  border-color: black;
}

.product-button {
  width: 170px;
}

.description-box {
  margin-top: 30px;
}

.product-price {
  margin-top: 25px;
}

.product-update-button-top {
  margin-top: 40px;
}

#carousel-products {
  width: 45%;
  height: 417px;
}

.carousel-inner {
  height: 100%
}

.carousel-item {
  height: 100%;
  object-fit: cover;
}

.sizing {
  background-size: cover;
  object-fit: cover;
  height: 100%
}

.sold-products-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}