.product-show {
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
  width: 100%;
  padding: 50px;
  height: 600px;
}

.product-show-details {
  background-color: #f5f5f5 !important;
  flex-direction: row;
  padding: 50px;
}

.btn.btn-danger {
  border-color: black;
} 