.signup-container {
  height: 558px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-color: #f5f5f5 !important;
  align-items: center;
}

.signup-title {
  // color: #08C3A3;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
}

.signup-page {
  display: flex;
  justify-content: space-around;
  border: 1px solid #FBCA4D;
  border-radius: 5px;
  height: 300px;
  margin-bottom: 35px;
  // background-color: rgb(231, 231, 231);
  background-color: #f5f5f5 !important;
  width: 70%;
}

.signup-button {
  margin-top: 15px;
}

.signup-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  width: 40%;
  // border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.or-box {
  width: 5%;
  // background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-line {
  height: 10 !important;
  width: 1 !important;
  color: black;
}

.top-field {
  margin-top: 10px;
}

.btn-login {
  width: 120px;
}

.images-label {
  width: 125px;
}