.wishlist-history-container {
  flex-direction: column;
  align-items: center;
}

.wishlist-purchase-product {
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  align-items: flex-start;
  width: 55%;
  height: 417px;
  background-color: rgb(250, 250, 250);
  padding: 50px;
  text-align: left;
}

// .modal-footer-wishlist-images {
//   background-color: white !important;
//   height: 50px;
// }
.carousel-item-wishlist-images {
  height: 450px;
}

.wishlist-history-sub-title {
  margin-bottom: 20px;
  color: #d60547;
  display: block;
}

.sofia {
  font-family: 'Sofia', cursive;
}

.wishlist-history-button-margin {
  margin-top: 50px;
}

.modal-body {
  background-color: #f5f5f5;
}

.modal-header{
  background-color: #e7e7e7;
}

.date-purchased {
  margin-top: 15px;
  margin-bottom: 25px;
  display: block;
}

.wishlist-adjustment {
  display: flex;
  width: 900px !important;
}

.wishlist-carousel {
  height: 400px !important;
  width: 450px !important;
}

.wishlist-sizing {
  width: 450px !important;
  height: 400px !important;
}

#no-wishlist {
  height: 317px !important;
  width: 400px !important;
}

.purchase-no-wishlist-left {
  width: 400px;
}

.extra-height {
  height: 440px !important;
}

