/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require chosen
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
 @import url('https://fonts.googleapis.com/css?family=Roboto:400');
 @import url('https://fonts.googleapis.com/css?family=Sofia');
 @import 'components/custom';
 @import 'components/navbar';
 @import 'components/homepage_icons';
 @import 'components/bottom_nav';
 @import 'components/banner';
 @import 'components/product_show';

 * {
   margin: 0px;
  //  overflow-x: hidden;
 }

 .alert { 
   margin: 0;
 }

 .page-title {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;  
    font-family: 'Roboto', sans-serif;
    font-weight: 'regular';
    margin-top: 30px;
    font-size: 27px;
    color: #d60547;
    text-align: center !important;
 }

 body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 75px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/* Overriding styles */

::-webkit-input-placeholder {
  font-size: 13px!important;
  color: #949393 !important;
}

:-moz-placeholder { /* Firefox 18- */
     font-size: 13px!important;
}
::-moz-placeholder {  /* Firefox 19+ */
     font-size: 13px!important;
}
 
