// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  background-color: #f5f5f5 !important;
  color: black;
  margin-bottom: 0px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 30px;
  text-align: start;
  padding-left: 17px;
}

.btn-yellow {
  background-color: #FBCA4D !important;
  border: 1px solid black !important;
}

.btn-yellow:hover {
  background-color: #222222 !important;
  border: 1px solid black !important;
  color:  #FBCA4D !important;

}
