// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  margin-top: 20px;
  margin-left: 400px;
  margin-right: 400px;
  background-color: #d60547;
  color: white;

}

.btn-yellow {
  background-color: #FBCA4D !important;
  border: 1px solid black !important;
}

.btn-yellow:hover {
  background-color: #222222 !important;
  border: 1px solid black !important;
  color:  #FBCA4D !important;

}