// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-profile-form {
  display: flex;
  justify-content: center;
}

.new-profile-form-container {
  width: 700px;
  display: flex;
  justify-content: center;
  background: #f5f5f5;
  padding: 30px;
  margin-bottom: 70px;
  flex-direction: column;
}

.profile-title {
  margin: 20px 20px;
  color: #d60547;
}

.profile-subtitle {
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.form-group-new {
    display: flex !important;
    flex-direction: column;
    margin-top: 15px;
}
 
.form-group-state {
  width:300px;
}

.profile-name {
  margin-top: 15px;
  font-size: 27px;
  color: white;
  background-color: #d60547;
  font-family: roboto;
  text-align: center;
}

.profile-field-header {
  margin-top: 15px;
  font-size: 30px;
  font-family: roboto;
}

.profile-container {
  width: 700px;
  // height: 700px;
  display: flex;
  justify-content: center;
  // background: #f5f5f5;
  padding: 30px;
  margin-bottom: 50px;
  flex-direction: column;
}

.profile-card {
    height: 500px;
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #FBCA4D;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.25rem;
}

.profile-card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #FBCA4D;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  color: #222222;
}

.profile-card-text {
  font-size: 20px;
  padding-top: 20px;
}

.profile-button {
  margin-top: 50px;
}

