<p class="myproducts-title">My Products</p>

<ul>
  <% @user.products.each do |product| %>
    <% if product.sold == false %>
      <li class="list-group-item">
        <%= product.created_at.strftime("%d-%m-%Y") %>
        <%= product.name %>
        <%= link_to "Show Product", product_path(product)%>
      </li>
    <% end %>
  <% end %>
</ul>